<div class="container mx-auto px-4">
  <h1 class="text-3xl font-bold mb-4 text-center">Share password</h1>

  <%= render "form",
    password: @password,
    user_password: @user_password
  %>
</div>
